<div class="items" id="24373">
  <span class="like wishlist">
    <div class="heart normal fa fa-heart-o"></div>
    <div class="heart selected fa fa-heart hide-div"></div>
  </span>
  <div class="item">
    <a href="LINKURI">
      <div class="home-c-img">
        <div class="item_images_24373 item_images">
          <div style="display: inline-block;"><img alt="ALT TEXT" src="IMGLINK" /></div>
          <div><img alt="ALT TEXT" src="/grey.gif" data-original="GIFLINK"></div>
          <div><img alt="ALT TEXT" src="/grey.gif" data-original="IMGLINK"></div>
        </div>
      </div>
    </a>
    <div class="bottom-info-waper">
      <div class="price">
        <div class="demand"><span class="rent_price">RENTPRICE</span><span>Rent</span></div>
        <span>RRP</span><span class="rrp">RETAILPRICE</span>
      </div>
      <div class="designer_img profile-review cursor-pointer" id="userProfileWithReview"><a href="LENDERHREF"><img alt="" src="LENDERIMG" /></a></div>
      <a href="/dresses/24373/bec-and-bridge-conga-beat-mini-dress">
        <div class="dress_inforamtion" id="dressBrandName">
          <h5>DRESS BRAND NAME</h5>
          <small>DRESS TITLE</small>
        </div>
      </a>
    </div>
  </div>
</div>